#scroll-to-top{
	width: 40px;
	height: 40px;
	text-align: center;
	position: fixed;
	right: 15px;
	bottom: 10px;
	z-index: 9999;
	color: #ddd;
	background-color: #888;
	cursor: pointer;
	border-radius: 50%;
	display: none
}
.custom-hr{
    margin: 0
}
/*Start Navbar*/
.navbar{
    background: #FFF !important
}
.navbar-brand{
    font-weight: bold;
    font-size: 20px;
    color: #007bff !important
}
.navbar-toggler{
    border: none !important
}
.nav-link{
    font-size: 16px;
    font-weight: 600;
    color: #555 !important;
}
.navbar-nav ul li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
    text-transform: uppercase;
    
}
.navbar-nav li a:hover{
    color: #007bff !important
}
/*End Navbar*/
/*Start header*/
.header img{
    height: 605px;
}
.header .carousel-caption{
    top: 50%;
    bottom: initial !important;
    transform: translateY(-50%);
}
.header .carousel-caption h5{
    font-size: 42px;
}
/*End header*/
/*Start About us*/
.about-us{
    padding: 50px 0;
    color: #555
}
.about-us .btn{
    margin-bottom: 30px;
}
.about-us .about-content{
    padding-top: 20px;
}
.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600px;
}
.progress{
    border-radius: 16px;
    margin-bottom: 20px;
}
.progress-bar{
    border-radius: 16px;
}
/*end About us*/
/*Start services*/
.services{
    padding: 50px 0;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url('../Image/03.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #EFEFEF
}
.services h1:after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services i{
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 20px;
    font-size: 40px;
    margin: 20px auto;
    height: 80px;
    width: 80px;
}
.services h3{
    margin-bottom: 20px;
}
.services p{
    color: #262626;
    font-size: 14px;
    margin-top: 
}
.service-content{
    margin-top: 40px;
}
.services .service-content:hover{
    background-color: #007bff;
    transition: 0.7s;
    cursor: pointer
}
/*end services*/
/*Start ourteam*/
.our-team{
    padding: 50px 0
}
.our-team h1:after,
.our-price h1:after,
.testimonal h1:after,
.contact h1:after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.member{
    margin-top: 25px;
}
.member .icons{
    opacity: 1;
    display: block;
    position: relative
}
.member .icons img{
    filter: grayscale(1);
    height: 223.13px;
}
.member .icons img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.member h5{
    color: #007bff;
    margin: 7px 0;
    font-weight: bold;
    font-size: 22px;
    margin-top: -50px
}
.member span{
    font-weight: bold;
    color: dimgrey;
    margin-bottom: 10px;
}
.member p{
    color: #cecece;
    letter-spacing: .2px
}
.our-team .fa{
    color: #007bff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 4px;
    background: #FFF;
}
.icons ul{
    padding: 15px 0;
    position: relative;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    opacity: 0;
}
.icons ul li{
    padding: 5px;
    display: inline-block;
}
.icons:hover ul{
    opacity: 1
}
.icons ul,
.icons ul li{
    transition: 0.5s
}
/*end ourteam*/

/*start promo*/
.promo{
    padding: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url('../Image/03.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    font-family: sans-serif;
    font-size: 38px;
}
/*end promo*/
/*Start price plan*/
.our-price{
    padding: 50px 0;
    background: #EEE
}
.price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    transition: 0.5s
}
.price:hover{
    box-shadow: 0 2px 20px #ccc
}
.price .head{
    background-color: #007bff;
    color: #fff;
    display: inline;
    float: left;
    padding: 10px 5px;
    width: 100%;
}
.price .head h2{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase
}
.price .head span{
    color: #ccc;
    padding-bottom: 90px;

}
.price .head span:first-of-type{
    font-weight: bold;
    font-size: 25px;
    margin-left: 80px;
}
.price .content{
    background-color: #fbfbfb;
    float: left;
    display: inline;
    width: 100%;
    padding:  0 15px;
}
.price .content ul{
    padding: 0;
    margin: 0
}
.price .content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none
}
.price .content ul li:last-child{
    border: none
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-btn{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn{
    background-color: #007bff;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s
}
.buy-btn:hover{
    border: 1px solid #fff;
    background-color: #3f51b5;
    color: #FFF
}
a{
    text-decoration: none !important;
    color: #FFF
}
/*End price plan*/

/*Start Testimodna;*/
.testimonal{
    padding: 50px 0;
}
.testimonal p{
    color: #808080;
    font-size: 16px;
    margin: 15px 0 50px;
}
.testimonal .row{
    margin-top: 30px;
}
.testimonal .colmd{
    margin: 40px auto;
}
.testimonal .profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.testimonal .profile:hover{
    box-shadow: 0 0 15px 5px  rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s
}
.user{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.testimonal .profile img{
    top: -40px;
    position: absolute;
    left: calc(50% - 45px);
    border: 1px solid #FFF
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content: open-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 25px;
    bottom: -15px;
    right: 5px;
}
blockquote::after{
    content: close-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.testimonal .profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
.testimonal .profile span{
    font-size: 12px;
    color: #333;
}
/*End Testimona;*/
/*start contact*/
.contact{
    padding: 50px 0;
    background-color: #EFEFEF;
    color: #777
}
.contact-form{
    padding: 30px;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
    margin-bottom: 10px;
    /*background: transparent*/
}
::placeholder{
    color: #999 !important
}
.contact-info{
    padding: 15px;
}
.follow{
    background-color: #FFF;
    padding: 10px;
    margin: 15px
}
.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold
}
/*end contact*/
.footer{
    padding: 20px 0;
    background-color: #262626;
    color: #FFF;
}
.footer span{
    color: #808080
}
.footer .fa{
    color: #f00;
    margin: 3px;
}